<%= render "wegadget/header" %>


<div class="span4" style="text-align:center; margin-top: 48px; margin-left: 458px;">
  <div class="well">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <h2>Change password</h2>
        <input type="hidden" name="login" value="1">

        <div class="control-group">
          <div class="controls" style="margin-left:0;">
            <div class="input-prepend">
            <span class="add-on">
                <i class="icon-user"></i>
            </span>
              <%= f.password_field :password, :id => "password", :placeholder => "Password", :size => 25 %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls" style="margin-left:0;">
            <div class="input-prepend">
            <span class="add-on">
                <i class="icon-lock"></i>
            </span>
              <%= f.password_field :password_confirmation, :id => "password_confirmation", :placeholder => "Confirm Password", :size => 25 %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= f.submit "Change password", :class => "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>