<%= render "wegadget/header" %>

<!-- Logo -->
<%= image_tag('logo.png', :style => "margin: 140px 0px 10px 430px;") %>

<!-- Campo texto para consulta -->
<div class="align-search-input">
      <%= text_field_tag :search, params[:search], :class => "input-big search-input", :style => "margin-top: 10px", :id => "categories", :placeholder => "Search tutorials" %>
</div>

<!-- Tutoriais mais votados -->
<ul class="align-trending-topics">
  <% @tutorials.each do |t| %>
    <li class="trending-topics">
      <span class="date"><%= t.created_at.to_formatted_s(:short) %> » </span>
      <%= link_to t.title, {:controller => "tutorial", :action => "show", :id => t.id}, :class => "brand"%> -
      <%= link_to t.user.username, {:controller => "welcome", :action => "profile", :id => t.user.id}, :class => "brand" %>
    </li>
  <% end %>
</ul>

<!-- Botão Lets write a tutorial -->
<div class="align-lets-write-tutorial">

  <%= form_for(:tutorial, :url => {:controller => 'tutorial', :action => 'new'}) do |t| %>
      <%= t.submit "Let's write a tutorial", :class => "btn btn-primary lets-write-tutorial" %>
  <% end %>

</div>

<script>
    $(function() {
        $( "#categories" ).autocomplete({
            source: "/category/list",
            select: function( event, ui ) {
                $.ajax({
                    success: function(data) {
                        window.location.href = '/tutorial/list_by_category?id='+ui.item.id;
                    }
                });
            }
        });
    });
</script>