<%= render "wegadget/header" %>


<div class="span9">

<h2>Your Tutorials</h2>

<table class="table table-condensed table-striped">
  <thead>
      <tr>
            <th class="header">Title</th>
            <th class="hidden-phone header">
              <i class="icon-heart"></i>
            </th>
            <th class="hidden-phone header">Category</th>
            <th class="header">Created at</th>
      </tr>
  </thead>
  <tbody>
  <% @tutorials.each do |t| %>
      <tr>
            <td>
              <%= link_to t.title, {:controller => "tutorial", :action => "show", :id => t.id} %>
            </td>
            <td class="hidden-phone">
              <span class="label label-success myTooltip" style="color:white;"><%= t.vote %></span>
            </td>
            <td class="hidden-phone"><%= t.category.name %></td>
            <td><%= t.created_at.to_formatted_s(:short) %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<%= link_to_function "Back", "history.back()", :class => "btn" %>

</div>