<%= render "wegadget/header" %>


<div class="span9">

  <% if !@tutorials.empty? %>
        <h2><%= @user.username %>'s tutorials</h2>
  <% end %>

<table class="table table-condensed table-striped">

  <% if @tutorials.empty? %>
      <div class="alert alert-info">
        <h4 class="alert-heading">
          You do not have tutorials yet =( &nbsp;&nbsp;
          <%= link_to 'Write a new one', {:controller => "tutorial", :action => "new"}, :class => "btn btn-primary" %>
        </h4>
      </div>
  <% else %>
      <thead>
      <tr>
        <th class="header">Title</th>
        <th class="hidden-phone header">
          <i class="icon-heart"></i>
        </th>
        <th class="hidden-phone header">Category</th>
        <th class="header">Created at</th>
      </tr>
      </thead>
  <% end %>


  <tbody>
  <% @tutorials.each do |t| %>
      <tr>
            <td>
              <%= link_to t.title, {:controller => "tutorial", :action => "show", :id => t.id} %>
            </td>
            <td class="hidden-phone">
              <span class="label label-success myTooltip" style="color:white;"><%= t.up_votes %></span>
            </td>
            <td class="hidden-phone"><%= t.category.name %></td>
            <td><%= t.created_at.to_formatted_s(:short) %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<% if !@tutorials.empty? %>
    <%= link_to_function "Back", "history.back()", :class => "btn" %>
<% end %>

</div>