<h1>Demo#incluir</h1>


<%= form_for(:tutorial, :url => {:action => 'create'}) do |t| %>

    <table>
      <tr>
        <th>Title</th>
        <td><%= t.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= t.text_area(:description) %></td>
      </tr>
    </table>

    <%= submit_tag("Incluir") %>

<% end %>

<%= link_to("Go to index page", {:action => 'index', :id => 1, :page => 5}) %>
