<%= render "wegadget/header" %>

<%= form_for @tutorial, :html => {:class => "form-horizontal well"}, :url => {:action => 'create'} do |t| %>

  <fieldset>
    <legend>Create new tutorial</legend>
    <div class="control-group">
        <div class="controls">
            <% if @tutorial.errors.any? %>
                <% @tutorial.errors.full_messages.each do |msg| %>
                      <span class="label label-important"><%= msg %></span>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Title *</label>
      <div class="controls">
        <%= t.text_field :title, :class => "input-xlarge", :id => "input01" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Subtitle</label>
      <div class="controls">
        <%= t.text_field :subtitle, :class => "input-xlarge", :id => "input02"  %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="textarea">Description *</label>
      <div class="controls">
        <%= t.text_area :description, :class => "input-xlarge", :style => "width: 800px;", :rows => 20, :cols => 500 %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="select01">Category</label>
      <div class="controls">
        <%= t.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }, :include_blank => true %>
      </div>
    </div>
    <div class="form-actions">
      <%= t.submit "Save changes", :class => "btn btn-primary" %>
      <%= link_to_function "Back", "history.back()", :class => "btn" %>
    </div>
  </fieldset>
<% end %>