<%= render "wegadget/header" %>

<%= form_for @tutorial, :html => {:class => "form-horizontal"}, :url => {:action => 'create'} do |t| %>


<div class="tutorial">

  <h2 class="tutorial-title">Create new tutorial</h2>

  <div class="control-group">
    <div class="form-fields">
      <% if @tutorial.errors.any? %>
          <% @tutorial.errors.full_messages.each do |msg| %>
              <span class="label label-important"><%= msg %></span>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-fields">
      <%= t.text_field :title, :class => "input-xlarge", :id => "input01", :maxlength => 50, :style => "width: 70%", :placeholder => 'Title *' %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-fields">
      <%= t.text_field :subtitle, :class => "input-xlarge", :id => "input02", :maxlength => 100, :style => "width: 70%", :placeholder => 'Subtitle'  %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-fields">
      <%= text_field_tag :category_name, params[:category_name], :class => "input-xlarge", :id => "categories", :placeholder => "Category *", :maxlength => 50, :style => "width: 50%" %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-fields">
      <%= t.text_area :description, :class => "input-xlarge", :id => "txtarea-description", :style => "height: 500px; width: 698px" %>
    </div>
  </div>
  <div class="form-actions">
    <%= t.submit "Save changes", :class => "btn btn-primary" %>
    <%= link_to_function "Back", "history.back()", :class => "btn" %>
  </div>

</div>

<% end %>

<script type="text/javascript">

    $('#txtarea-description').popover({
        title: "Legend",
        content: "Look, this field accepts HTML tags. \n Don't be afraid to use them. =)",
        placement: "right"
    });
    $('#txtarea-description').popover("show");


    $(function() {
        $( "#categories" ).autocomplete({
            source: "/category/list"
        });
    });

</script>